.display {
  padding: 20px;
  background-color: rgba(85,204,255,0.58);
  border-radius: 5px;
}

.numeric {
  text-align: center;
  cursor: pointer;
  background-color: rgba(39,60,80,0.54);
  margin: 0 3px;
  border-radius: 4px;
  height: 90px;
  line-height: 90px;
}